* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a855f7;
  background-image: linear-gradient(80deg, #9353F9, #AE16EF);
  padding: 20% 5%;
  display: flex;
  justify-content: center;

}

@media (min-width: 767.98px) {
  body {
    font-size: 1rem;
    align-items: center;
    height: 100vh;
  }

}